@import '../../../../variables';

#result-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.artwork-cover {
    padding: 1vh;
    width: 20%;
}

#search-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#search-bar i {
    margin-left: 1vw;
    margin-right: 10px;
    cursor: pointer;
}

#search-bar input {
    margin-top: 5px;
    width: 20%;
    margin-left: 1vw;
    background-color: transparent;
    border: 1px solid $gray;
    border-radius: 20px;
    color: white;
    padding: 5px;
    padding-left: 10px;
}

#mobile-result-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mobile-artwork-cover {
    padding: 1vh;
    width: 50%;
}

//If mobile 
@media only screen and (max-width: 600px) {
    #search-bar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #search-bar i {
        margin-left: 1vw;
    }
    #search-bar input {
        width: 100%;
        margin-left: 1vw;
    }
}