@import '../../../../variables';

.artwork-cover {
    height: 50vh;
}

.artwork-container {
    display: flex;
    padding: 2vh;
}

.cover-container {
    position: relative;
}

.artwork-description {
    padding: 2vh;
}

.cover-button-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 80%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.cover-button {
    cursor: pointer;
    text-align: center;

    background-color: $orange;
    padding: 0.5em;

    visibility: hidden;

    &:hover {
        background-color: #b44e00;
    }
}

.cover-container:hover .cover-button {
    visibility: visible;
}

.cover-container:hover img {
    opacity: 25%;
}
