<div id="container">
    <h2>Mon Profil</h2>
    <div id="personal-infos" class="infos">
        <p>Nom : {{user.name}}</p>
        <p>Prénom : {{user.firstName}}</p>
        <p>Pseudo : {{user.surname}}</p>
        <p>Mail : {{user.email}}</p>
        <p>Date de naissance : {{user.birthDate}}</p>
        <p>Téléphone : {{user.telephone}}</p>
    </div>
    <div id="author-profile" *ngIf="isAuthor">
        <h2>Mon profil d'auteur</h2>
        <div id="author-infos" class="infos" >
            <p>Biographie</p>
            <textarea 
                class="text-input" 
                [(ngModel)]="newPresentation" 
                (ngModelChange)="onEdit()"
                [ngClass]="{'edit': isEditing}">
            </textarea>
            <p class="button" *ngIf="isEditing" (click)="onSubmit()">Valider</p>
        </div>
    </div>
</div>