.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.navigation-buttons {
    margin-top : 1em;
}

.navigation-button {
    margin-right: 1em;
    margin-left: 1em;
    color: white;
    background-color: #999;
    border: none;
    border-radius: 5px;
}

.display-mode-container {
    margin-left: 2em;
    display: inline-block;
    padding: 1em;
    border: 1px solid #FF7530;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #FF7530;
    }
}