<div id="main-content">

    <div id="header">
        <h2># {{chapterIndex}} - {{artwork.title}}</h2>
    </div>

    <div id="command-and-view">
        <div id="command-container">
            <div *ngIf="!doublePage" class="display-mode-container" (click)="updateDoublePage()">
                <span>Vue Double Page </span>
            </div>

            <div *ngIf="doublePage" class="display-mode-container" (click)="updateDoublePage()">
                <span>Vue Page Simple </span>
            </div>
            
            <span class="display-mode-container middle" (click)="switchReadingDirection()">
                <span *ngIf="leftToRight"><i class="fa-solid fa-arrow-right"></i></span>
                <span *ngIf="!leftToRight"><i class="fa-solid fa-arrow-left"></i></span>
                <span id="reading-direction" > Sens de lecture : </span>
            </span>

            <span (click)="centerPage()" class="display-mode-container">Centrer</span>
        </div>

        <div #liseuseContainer class="liseuse-container">
            <div class="fullscreen-button" (click)="toggleFullScreen()">
                <i *ngIf="!isFullScreen" class="fa-solid fa-up-right-and-down-left-from-center fa-2xl"></i>
                <i *ngIf="isFullScreen" class="fa-solid fa-down-left-and-up-right-to-center fa-2xl"></i>
            </div>
            <app-manga-liseuse [pages]="pagesUrl" [currentPage]="currentPage" [leftToRight]="leftToRight" *ngIf="!doublePage"></app-manga-liseuse>
            <app-manga-double-liseuse [pages]="pagesUrl" [currentPage]="currentPage" [leftToRight]="leftToRight" *ngIf="doublePage"></app-manga-double-liseuse>
        </div>
    </div>

    <div id="social-icons">
        <i class="fa-regular fa-comment-dots fa-xl" (click)="onScrollComments()"></i>
        <i *ngIf="!isLiked" class="fa-regular fa-heart fa-xl" (click)="onLike()"></i>
        <i *ngIf="isLiked" class="fa-solid fa-heart fa-xl" (click)="onLike()"></i>
        <i class="fa-solid fa-shop fa-xl"></i>
        <i *ngIf="!isFollowed" class="fa-solid fa-user-plus fa-xl" (click)="onFollow()"></i>
    </div>
</div>
<div id="sub-content">
    <div id="comments" #comments>
        <app-comments-displayer></app-comments-displayer>
    </div>
    <div id="next-chapters">
        <app-next-chapters-for-view [artworkId]="artworkId"></app-next-chapters-for-view>
    </div>
</div>