<h2 class="centered">{{title}}</h2>
<div *ngIf="!doublePage" class="display-mode-container" (click)="updateDoublePage()">
    <span>Vue Double Page </span><i class="fa-solid fa-book-open"></i>
</div>
<div *ngIf="doublePage" class="display-mode-container" (click)="updateDoublePage()">
    <span>Vue Page Simple </span><i class="fa-regular fa-file"></i>
</div>
<span (click)="centerPage()" class="display-mode-container">Centrer</span>
<div #liseuseContainer>
    <app-manga-liseuse [pages]="pages" [currentPage]="currentPage" *ngIf="!doublePage"></app-manga-liseuse>
    <app-manga-double-liseuse [pages]="pages" [currentPage]="currentPage" *ngIf="doublePage"></app-manga-double-liseuse>
</div>
<div class="page-numerotation centered">
    <span>{{currentPageIndex}}/{{pages.length}}</span>
</div>
<div class="social-buttons">
    <button class="navigation-button">J'aime <i class="fa-regular fa-heart"></i></button>
    <button class="navigation-button">Suivre <i class="fa-solid fa-user-plus"></i></button>
</div>
<div class="navigation-buttons">
    <button class="navigation-button">Episode Suivant <i class="fa-solid fa-arrow-right"></i></button>
</div>