<h2 class="centered">{{artworkTitle}}</h2>
<div *ngIf="!doublePage" class="display-mode-container" (click)="updateDoublePage()">
    <span>Vue Double Page </span><i class="fa-solid fa-book-open"></i>
</div>
<div *ngIf="doublePage" class="display-mode-container" (click)="updateDoublePage()">
    <span>Vue Page Simple </span><i class="fa-regular fa-file"></i>
</div>
<span (click)="centerPage()" class="display-mode-container">Centrer</span>
<div #liseuseContainer class="liseuse-container">
    <div class="fullscreen-button" (click)="toggleFullScreen()">
        <i *ngIf="!isFullScreen" class="fa-solid fa-up-right-and-down-left-from-center fa-2xl"></i>
        <i *ngIf="isFullScreen" class="fa-solid fa-down-left-and-up-right-to-center fa-2xl"></i>
    </div>
    <app-manga-liseuse [pages]="pagesUrl" [currentPage]="currentPage" *ngIf="!doublePage"></app-manga-liseuse>
    <app-manga-double-liseuse [pages]="pagesUrl" [currentPage]="currentPage" *ngIf="doublePage"></app-manga-double-liseuse>
    <div class="page-numerotation centered">
        <span>{{min(currentPageIndex,pages.length-1)}}/{{pages.length-1}}</span>
    </div>
</div>
<div class="social-buttons">
    <button class="navigation-button">J'aime <i class="fa-regular fa-heart"></i></button>
    <button class="navigation-button">Suivre <i class="fa-solid fa-user-plus"></i></button>
</div>
<div class="navigation-buttons">
    <button class="navigation-button">Episode Suivant <i class="fa-solid fa-arrow-right"></i></button>
</div>