<h2 class="centered">{{artworkTitle}}</h2>

<div #liseuseContainer class="liseuse-container">
    <div class="image-container">
        <img *ngFor="let image of images" [src]="image" alt="image" class="image" (click)="toggleFullScreen()"/>
    </div>
</div>
<div class="social-buttons">
    <button class="navigation-button">J'aime <i class="fa-regular fa-heart"></i></button>
    <button class="navigation-button">Suivre <i class="fa-solid fa-user-plus"></i></button>
</div>
<div class="navigation-buttons">
    <button class="navigation-button">Episode Suivant <i class="fa-solid fa-arrow-right"></i></button>
</div>