#container {
    background-color: white;
    padding: 2em;
}

#header {
    background-color: darken(white, 10%);
    color: black;
    padding: 1em;
    text-align: center;
    border-radius: 20px;

}

#header h1 {
    font-weight: bold;
}

#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.shop-thumbnail {
    padding: 1em;
}

#mobile-container {
    color: black;
    background-color: white;
}

#mobile-container h1 {
    font-weight: bold;
    text-align: center;
}

#mobile-container p {
    text-align: center;
}