.footer {
    background-color: black;
    width: 100%;
    box-sizing: border-box;
}

.footer-text {
    color: white;
    text-decoration: none;
}

.logos {
    margin-top: 2em;
}

.bottom-footer {
    padding-bottom: 2em;
}