@import 'src/_variables.scss';

.footer {
    background-color: black;
    width: 100%;
    box-sizing: border-box;
}

.footer-text {
    color: white;
    text-decoration: none;
}

.logos i {
    padding: 0.5em;
    color: $orange;
}

.bottom-footer {
    padding-bottom: 2em;
}