#header h3 {
    margin: 3vh;
    font-weight: bold;
}

#container {
    padding: 4vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2vh;
}

#products-container {
    padding: 2vh;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    align-items: stretch;
    height: max-content;
}

.product-vignette {
    height: fit-content;
    width: 25%;
    flex-shrink: 0;
}