<div class="carousel-title texte-souligne">
  <h2>Light Novels</h2>
</div>
<div class="carousel-container row">
    <div class="carousel-content col-11 offset-1">
      <div class="carousel row">
        <ng-container *ngFor="let item of carouselItems; let i = index">
          <app-carousel-item-accueil
            class="col-2"
            [image]="item.image" 
            [text]="item.text" 
            [artworkId]="item.id"
            [views]="item.views">
          </app-carousel-item-accueil>
        </ng-container>
      </div>
    </div>
      
  </div>
    