<app-carousel-accueil-news></app-carousel-accueil-news>
<app-artwork-carousel
    [title]="'Mangas'"
    [category]="'MANGA'"
    [color]="'#FF6F00'"
></app-artwork-carousel>
<app-artwork-carousel
    [title]="'Webtoons'"
    [category]="'COMIC'"
    [color]="'#119DA4'"
></app-artwork-carousel>
<app-artwork-carousel
    [title]="'Light Novels'"
    [category]="'NOVEL'"
    [color]="'#7C7C7C'"
></app-artwork-carousel>
<app-accueil-weebz-auteurs></app-accueil-weebz-auteurs>
<app-accueil-weebz-news></app-accueil-weebz-news>