.carousel-item {
    display: block;
    background-color: transparent;
    cursor: pointer;
  }
  
.carousel-item  {
    transition: filter 0.3s;
    filter: brightness(1);
    transition: transform 0.3s;
    transform: scale(1);
}

.carousel-item:hover  {
    transition: filter 0.3s;
    filter: brightness(0.5);
    transition: transform 0.3s;
    transform: scale(1.1);
}
  
/*.carousel-item p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
    text-align: center;
    width: 90%;
}
  
.carousel-item:hover p {
    opacity: 1;
    display: block;
}

p {
    display: block;
}*/

.name {
    padding-top: 0.5em;
    text-align: center;
    justify-content: center;
}
.author {
    text-align: center;
    justify-content: center;
}