.news-header {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.carousel-news-container {
    padding-top: 5em;
    margin-top: 1em;
    background-color: #FF6F00;
    padding-bottom: 5em;
}