<div id="carousel">
    <swiper-container
        class="mySwiper"
        parallax="true"
        slides-per-view="3"
        centered-slides="true">
    <div slot="container-start" class="parallax-bg"
    style="background-image: url(../../../../assets/fixtures/background.png);" data-swiper-parallax="-23%"></div>
        <swiper-slide *ngFor="let news of carouselItems" class="swiper-slide">
            <a data-swiper-parallax="-300" [routerLink]="news.route">
                <img [src]="news.image" alt="{{news.text}}">
                <p>{{news.text}}</p>
            </a>
        </swiper-slide>
    </swiper-container>
</div>