<div class="carousel-news-container row">
    <i (click)="onLeftArrowClick()" class="fa-solid fa-arrow-left fa-5x carousel-arrow"></i>
    <ng-container *ngFor="let item of carouselItems; let i = index">
        <app-carousel-item-accueil
            class="col-4 image-{{i}}"
            [image]="item.image"
            [text]="item.text"
            [link]="item.link">
        </app-carousel-item-accueil>
    </ng-container>
    <i (click)="onRightArrowClick()" class="fa-solid fa-arrow-right fa-5x carousel-arrow"></i>
</div>