@import '../../../../variables';

#header h3 {
    margin: 3vh;
    font-weight: bold;
}

#artworks-displayer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.single-artwork-display {
    margin: 2vw;
    background-color: $background-gray;
    padding: 2vw;
    border-radius: 2vw;
    display: flex;
    flex-direction: row;
}

.image-display {
    width: 20%;
}

.content-display {
    width: 80%;
    padding: 2vw;
}

.image-display img{
    width: 100%;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}