<div id="container">
    <div class="upload-header">
        <h1>Publier son oeuvre</h1>
    </div>
    <div id="create-artwork">
        <h2>Créer une oeuvre</h2>
        <p>Pour créer une oeuvre, aller sur le bouton <span>publier</span>.</p>
        <img src="../../../../assets/tuto/bouton-publier.png">
        <p>Voici la page de création d'oeuvre !</p>
        <img src="../../../../assets/tuto/create-artwork.png">
        <ul>
            <li>Couverture de l'oeuvre format B2 ou 1:1.41</li>
            <li>Titre de l'oeuvre</li>
            <li>Type de l'oeuvre</li>
            <li>Banière de l'oeuvre format 2:1</li>
            <li>Synopsis de l'oeuvre</li>
        </ul>
        <img src="../../../../assets/tuto/Background.png">
        <p>La couverture sera affichée dans les resultats de recherche ou dans l'accueil. Elle donne un premier apperçu de l'oeuvre. La banière quant à elle est affichée sur la page de présentation de l'oeuvre</p>
        <p> <span>Si vous n'êtes pas auteur</span> alors votre oeuvre ne sera pas publiée tout de suite, et sera d'abord analysée par notre équipe. Une fois que l'oeuvre est validée, alors elle sera visible de tous et les prochaines oeuvres apparaîtront immédiatement.</p>
        <p>Nous n'acceptons pas la nudité ou la sexualité. Cela inclut notamment la nudité totale ou partielle ainsi que la description graphique des actes sexuels. Nous n'acceptons pas non plus la violence excessive ou les contenus réalisés dans l'intention de choquer et d'offenser les lecteurs. Cela inclut les scènes violentes et gores qui sont brutales et étendues/prolongées. Vous pouvez trouver plus de détail</p>
        <p>Après avoir validé, vous allez être redirigé vers la page de création de chapitre</p>
    </div>
    <div id="create-chapter">
        <h2>Créer le premier chapitre</h2>
        <img src="../../../../assets/tuto/create-chapter.png">
        <p>Pour chaque chapitre, vous pouvez choisir un titre et une couverture spécifique à ce chapitre.</p>
        <img src="../../../../assets/tuto/upload-pages.png">
        <p>Vous pouvez déposer les pages dans la partie <span>pages du chapitre</span>, ou clicker directement dessus pour selectionner les images.</p>
        <img src="../../../../assets/tuto/navigation.png">
        <p>Une fois les images séléctionnées, vous pouvez les réorganiser avec les flèches, ou en cliquant directement sur le numéro de la page pour lui en attribuer un nouveau.</p>
    </div>
</div>
