@import '../../../variables';

#carousel {
    width: 100%;
    overflow: hidden; /* pour éviter le débordement horizontal */
    background-image: url('../../../assets/fixtures/background.png');
    background-size: cover;
    padding-bottom: 20px;
}

.mySwiper {
    margin-top: 20px;
}

#carousel h2 {
    text-align: center;
}

.swiper-container {
    padding-left: 10%; /* ajustez en fonction de la taille de l'aperçu souhaitée */
    padding-right: 10%; /* ajustez en fonction de la taille de l'aperçu souhaitée */
}

.swiper-slide {
    width: 80%; /* ajustez en fonction de la taille de l'aperçu souhaitée */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    display: block; /* pour éliminer tout espace blanc sous l'image */
}