<div class="carousel-item" *ngIf="!isMobile">
    <div class="fav-icon">
        <i *ngIf="!faved" (click)="onFav($event)" class="fa-regular fa-bookmark fa-xl"></i>
        <i *ngIf="faved" (click)="onFav($event)" class="fa-solid fa-bookmark fa-xl orange"></i>
    </div>
    <a [routerLink]="['/artwork',artwork.id]">
        <div id="image-container">
            <img [src]="artwork.coverUrl" alt="Image de carrousel" class="img-fluid">
            <div class="showed-on-hover" >
                <h4 id="title">{{artwork.title}}</h4>
                <p id="author">{{author.user.surname}}</p>
                <p id="synopsis">{{artwork.description}}</p>
                <div id="views">
                    <i class="fa-regular fa-eye"></i>
                    <p>{{artwork.views}}</p>
                </div>
            </div>
        </div>
        <h3 class="name">{{artwork.title}}</h3>
        <p class="author">{{author.user.surname}}</p>
    </a>
</div>

<div class="mobile-carousel-item" *ngIf="isMobile" >
    <i *ngIf="!faved" (click)="onFav($event)" class="fa-regular fa-bookmark fa-xl"></i>
    <i *ngIf="faved" (click)="onFav($event)" class="fa-solid fa-bookmark fa-xl orange"></i>
    <a [routerLink]="['/artwork',artwork.id]">
        <div id="mobile-image-container">
            <img [src]="artwork.coverUrl" alt="Image de carrousel" class="img-fluid">
        </div>
        <div id="mobile-artwork-infos">
            <h4>{{artwork.title}}</h4>
            <p>{{author.user.surname}}</p>
        </div>
    </a>
</div>