@import '../../../../variables';

.carousel-item {
    display: block;
    background-color: transparent;
    cursor: pointer;
  }
  
.carousel-item  {
    transition: filter 0.3s;
    filter: brightness(1);
    transition: transform 0.3s;
    transform: scale(1);
}

.carousel-item:hover  {
    transform: scale(1.1);
}

img {
    transition: filter 0.3s;
}

.carousel-item:hover img {
    filter: brightness(0.1);
}

.fav-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    color: gray;
    font-size: 1.5em;
    transition: color 0.3s;
}

.fav-icon:hover {
    color: white;
    cursor: pointer;
    scale: 1.5;
}

.name {
    padding-top: 0.5em;
    font-size: 2vh;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.author {
    text-align: center;
    justify-content: center;
    color: gray;
    font-size: 1.8vh;
}

@media only screen and (max-width: 1600px) {
    .synopsis {
        font-size: 12px;
    }
}

#image-container {
    position: relative;
}

.showed-on-hover {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2vh;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
}

.orange {
    color: $orange;
}

#views {
    position: absolute;
    bottom: 5%;
    right: 5%;
    margin:0;
    padding:0;
    display: flex;
}

#views p {
    margin:0;
    padding:0;
}

#views i {
    margin:0;
    padding:0;
    margin-right: 0.5em;
}

#synopsis {
    height: 60%;
    overflow: hidden;
    overflow-y: scroll;
}

#title {
    font-size: 1.8vh;
}

#author {
    font-size: 1.6vh;
}

#synopsis {
    font-size: 1.6vh;
}

.carousel-item:hover .showed-on-hover {
    visibility: visible;
}

.carousel-item:hover .author{
    visibility: hidden;
}

.carousel-item:hover .name{
    visibility: hidden;
}

#mobile-image-container {
    position: relative;
}

#mobile-image-container i {
    position: absolute;
    color: $gray;
    top: 10px;
    right: 0;
}

#mobile-artwork-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mobile-artwork-infos p {
    margin: 0;
    padding: 0;
}

#mobile-artwork-infos h4 {
    text-align: center;
    font-size: 20px;
}