.title-container {
    text-align: center;
    margin-top: 1em;
}

.main-content {
    margin-top: 1em;
    background-image: linear-gradient(to right,#FF6F00,#DFC643);
    border-radius: 5%;
    padding-top: 1em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 2em;
}

.error-message {
    margin-top: 1em;
    color: red;
    text-align: center;
}

.input-information {
    cursor: default;
    margin-top: 2em;
    margin-bottom: 0;
}

input {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
}

.button-container {
    margin-top: 1em;
}

.forgot-container {
    margin-top: 1em;
}

.forgot-password {
    color: black;
    cursor: pointer;
}

.connexion-button {
    background-color: #FF6F00;
    color: white;
    border: 0px;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 10px;

    &:hover {
        background-color: #DFC643;
        color: black;
    }
}

.inscription {
    cursor: pointer;
    margin-top: 1em;
    color: black;
    display: block;
    text-align:right;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.5); /* couleur grise semi-transparente */
    display: flex;
    justify-content: center; /* Centrage horizontal */
    align-items: center;     /* Centrage vertical */
    z-index: 1000;           /* S'assurer qu'il est au-dessus de tout le reste */
}

.spinner {
    border: 8px solid rgba(255, 255, 255, 0.3);   /* Couleur grise claire du cercle */
    border-radius: 50%;                           /* Cercle parfait */
    border-top: 8px solid #000;                   /* Couleur du secteur supérieur du cercle */
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;           /* Animation pour faire tourner le spinner */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}