<div class="container">
    <div class="title-container row d-flex justify-content-center">
        <h1>Connexion</h1>
    </div>
    <div class="main-content-container row d-flex justify-content-center">
        <div class="main-content">
            <p class="input-information">E-mail:</p>
            <input [(ngModel)]="email" type="text" class="input" name="email" placeholder="E-mail">
            <p class="input-information">Mot de passe:</p>
            <input [(ngModel)]="password" type="password" class="input" name="password" placeholder="Mot de passe">
            <div class="forgot-container">
                <a class="forgot-password">Mot de passe oublié ?</a>    
            </div>
            <div class="button-container row d-flex justify-content-center">
                <button (click)="onSubmit()"class="connexion-button">Connexion</button>
            </div>
            <a routerLink="/inscription" class="inscription">S'inscrire</a>
        </div>
    </div>
</div>
