@import '../../../variables';

#component {
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //Make the background color semi-transparent;
    background-color: rgba(0, 0, 0, 0.5);
}

#container {
    //Center the container;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $background-gray;
    padding: 20px;
    border-radius: 5px;

    text-align: center;
}