<div class="container-fluid main-container" [style.background-image]="'url(' + shop.backgroundUrl + ')'">
    <div id="presentation">
        <img src="{{authorImage}}">
        <div class="" id="side-presentation" >
            <h3 routerLink="/author/{{author.id}}">{{getAuthorName}}</h3>
            <p id="follow-button">Suivre +</p>
        </div>
        <div id="navigation-menu">
            <h3 class="navigation-text">Livres</h3>
            <h3 class="navigation-text">Articles</h3>
            <h3 class="navigation-text">Créations</h3>
            <h3 class="navigation-text">Oeuvres Digitales</h3>
        </div>
    </div>
    <div class="articles-display">
        <div id="articles-container">
            <app-product-vignette
                *ngFor="let product of shop.products"
                [product]="product"
                class="product-vignette"
            ></app-product-vignette>
        </div>
    </div>
</div>
