<div *ngIf="!isMobile" class="container-fluid main-container" [style.background-image]="'url(' + shop.backgroundUrl + ')'">
    <div id="presentation">
        <img src="{{authorImage}}" alt="Photo de profil de {{authorName}}">
        <div class="" id="side-presentation" >
            <h3>{{shopName}}</h3>
            <div id="navigation-menu">
                <h3 class="navigation-text" (click)="filtersValue('')">Tout</h3>
                <h3 class="navigation-text" (click)="filtersValue('BOOK')">Livres</h3>
                <h3 class="navigation-text" (click)="filtersValue('GOODIE')">Articles</h3>
                <h3 class="navigation-text" (click)="filtersValue('DIGITAL')">Oeuvres Digitales</h3>
            </div>
        </div>
    </div>
    <div class="articles-display">
        <div id="articles-container">
            <app-product-vignette
                *ngFor="let product of productsToDisplay"
                [product]="product"
                class="product-vignette"
            ></app-product-vignette>
        </div>
    </div>
</div>
<div *ngIf="isMobile" id="mobile-container">
    <div id="mobile-header">
        <img src="{{authorImage}}" alt="Photo de profil de {{authorName}}">
        <h3>{{shopName}}</h3>
        <div id="mobile-navigation">
            <h4 class="mobile-navigation-text"  [ngClass]="{'selected' : filters===''}" (click)="filtersValue('')">Tout</h4>
            <h4 class="mobile-navigation-text" [ngClass]="{'selected' : filters==='BOOK'}" (click)="filtersValue('BOOK')">Livres</h4>
            <h4 class="mobile-navigation-text" [ngClass]="{'selected' : filters==='GOODIE'}" (click)="filtersValue('GOODIE')">Articles</h4>
            <h4 class="mobile-navigation-text" [ngClass]="{'selected' : filters==='DIGITAL'}" (click)="filtersValue('DIGITAL')">Oeuvres Digitales</h4>
        </div>
    </div>
    <div id="mobile-articles-display">
        <app-mobile-product-vignette
            *ngFor="let product of productsToDisplay"
            [product]="product"
            class="product-vignette"></app-mobile-product-vignette>
    </div>
</div>

<app-my-shopping-cart></app-my-shopping-cart>
