<div class="container-fluid main-container" [style.background-image]="'url(' + shop.backgroundUrl + ')'">
    <div id="presentation">
        <img src="{{authorImage}}">
        <div class="" id="side-presentation" >
            <h3>{{shopName}}</h3>
            <div id="navigation-menu">
                <h3 class="navigation-text" (click)="filtersValue('')">Tout</h3>
                <h3 class="navigation-text" (click)="filtersValue('BOOK')">Livres</h3>
                <h3 class="navigation-text" (click)="filtersValue('GOODIE')">Articles</h3>
                <h3 class="navigation-text" (click)="filtersValue('DIGITAL')">Oeuvres Digitales</h3>
            </div>
        </div>
    </div>
    <div class="articles-display">
        <div id="articles-container">
            <app-product-vignette
                *ngFor="let product of productsToDisplay"
                [product]="product"
                class="product-vignette"
            ></app-product-vignette>
        </div>
    </div>
</div>
<app-my-shopping-cart></app-my-shopping-cart>
