<div id="container" [routerLink]="['/product', product.id]">
    <img [src]="product.images[0]" alt="Image du produit {{product.name}}">
    <div id="info-container" >
        <h3 id="product-name">{{product.name}}</h3>
        <p id="category">{{category}}</p>
        <div id="star-container" >
            <i class="fa-regular fa-star star"></i>
            <i class="fa-regular fa-star star"></i>
            <i class="fa-regular fa-star star"></i>
            <i class="fa-regular fa-star star"></i>
            <i class="fa-regular fa-star star"></i>
        </div>
        <p id="product-price">{{price}} €</p>
    </div>
</div>
