<div class="container-fluid header-container">
    <div class="row header-content">
  
      <!-- Logo -->
      <div class="header-logo-container">
        <a routerLink="accueil" >
          <img src="../../assets/logo.png" alt="Weebz-Logo" class="img-fluid" id="weebz-header-logo">
        </a>
      </div>
  
      <!-- Liens principaux -->
      <div class="col-md-3 d-flex justify-content-center align-items-center fs-5 fs-md-3 fs-lg-1">
          <!-- Dropdown pour "Catalogue" -->
          <div class="dropdown col-4 justify-content-center header-button">
            <div class="dropdown-container">
              <span routerLink="catalogue" class="text-button">Catalogue</span>
              <div class="dropdown-content">
                <div class="dropdown-item">
                  <a class="dropdown-element"routerLink="manga">Manga</a>
                </div>
                <div class="dropdown-item">
                  <a routerLink="webtoon">Webtoon</a>
                </div>
                <div class="dropdown-item">
                  <a routerLink="lightnovel">Light Novel</a>
                </div>
                
              </div>
            </div>          
          </div>
  
          <!-- Lien "Blog" -->
          <div class="col-4 justify-content-center header-button">
          <span routerLink="blog" class="ml-3 text-button">Blog</span>
          </div>
  
          <!-- Lien "Publier" -->
          <div class="col-4 justify-content-center header-button">
          <span href="#" class="ml-3 text-button">FAQ</span>
          </div>
      </div>
  
      <div class="row ml-auto right-side-container align-items-center">
        <div class="col-3 publish-container">
          <button class="publish-button">Publier</button>
        </div>
        <div class="icons-container d-flex align-items-center">
          <div class="col-3 search-container">
            <a routerLink=""><i class="header-icon fa-solid fa-xl fa-magnifying-glass"></i></a>
          </div>
          <div class="col-3 favorite-container " >
            <a routerLink="/watchlist"><i class="header-icon fa-regular fa-xl fa-star"></i></a>
          </div>
          <div class="col-3 login-container ">
              <a routerLink="/my-profile"><i *ngIf="loggedIn" class="header-icon fa-solid fa-xl fa-user-check"></i></a>
              <a routerLink="/connexion"><i *ngIf="!loggedIn" class="header-icon fa-solid fa-xl fa-share-from-square"></i></a>
          </div>
        </div>
      </div>
    </div>
</div>
  
