<div class="container-fluid">
    <div class="row">
  
      <!-- Logo -->
      <div class="col-md-3">
        <a routerLink="accueil" >
          <img src="../../assets/logo.png" alt="Weebz-Logo" class="img-fluid">
        </a>
      </div>
  
      <!-- Liens principaux -->
      <div class="col-md-5 d-flex justify-content-center align-items-center">
        <!-- Dropdown pour "Catalogue" -->
        <div class="dropdown">
          <div class="dropdown-container btn btn-secondary">
            <span routerLink="catalogue">Catalogue</span>
            <div class="dropdown-content">
              <a routerLink="manga">Manga</a>
              <a routerLink="webtoon">Webtoon</a>
              <a routerLink="lightnovel">Light Novel</a>
            </div>
          </div>          
        </div>
  
        <!-- Lien "Blog" -->
        <a routerLink="blog" class="btn btn-secondary ml-3">Blog</a>
  
        <!-- Lien "Publier" -->
        <a href="#" class="btn btn-secondary ml-3">Publier</a>
      </div>
  
      <!-- Icônes de médias sociaux -->
      <div class="col-md-2 d-flex justify-content-center align-items-center">
        <a href="https://discord.gg/Q7dR8jss3" target="_blank"><img src="../../assets/discord.png" alt="Discord" width="40"></a>
        <a href="#" target="_blank"><img src="../../assets/x.png" alt="Twitter" width="40" class="ml-2 mr-2"></a>
        <a href="https://www.instagram.com/weebz_officiel/" target="_blank"><img src="../../assets/instagram.png" alt="Instagram" width="40"></a>
      </div>
  
      <!-- Bouton Connexion -->
      <div class="col-md-2 d-flex justify-content-end align-items-center">
        <button class="btn btn-secondary">Connexion</button>
      </div>
  
    </div>
  </div>
  
