<div class="container-fluid header-container">
    <div class="row header-content">
  
      <!-- Logo -->
      <div class="col-md-3 header-logo-container">
        <a routerLink="accueil" >
          <img src="../../assets/logo.png" alt="Weebz-Logo" class="img-fluid" id="weebz-header-logo">
        </a>
      </div>
  
      <!-- Liens principaux -->
      <div class="col-md-6 d-flex justify-content-center align-items-center">
          <!-- Dropdown pour "Catalogue" -->
          <div class="dropdown col-4 align-items-center justify-content-center header-button">
            <div class="dropdown-container">
              <span routerLink="catalogue" class="text-button">Catalogue</span>
              <div class="dropdown-content">
                <div class="dropdown-item">
                  <a class="dropdown-element"routerLink="manga">Manga</a>
                </div>
                <div class="dropdown-item">
                  <a routerLink="webtoon">Webtoon</a>
                </div>
                <div class="dropdown-item">
                  <a routerLink="lightnovel">Light Novel</a>
                </div>
                
              </div>
            </div>          
          </div>
  
          <!-- Lien "Blog" -->
          <div class="col-4 align-items-center justify-content-center header-button">
          <span routerLink="blog" class="ml-3 text-button">Blog</span>
          </div>
  
          <!-- Lien "Publier" -->
          <div class="col-4 align-items-center justify-content-center header-button">
          <span href="#" class="ml-3 text-button">Publier</span>
          </div>
      </div>
  
      <!-- Bouton Connexion -->
      <div class="col-md-3 d-flex justify-content-end align-items-center">
        <button class="btn btn-secondary">Connexion</button>
      </div>
  
    </div>
</div>
  
