#container {
    width: 100%;
}

.not-logged {
    background-color: gray;
    margin-top: 2em;
    padding: 5em;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.login-link{
    color: black
}