<div id="container" *ngIf="!isMobile" >
    <div class="title">
        <h1>Ma Watchlist</h1>
    </div>
    <div *ngIf="!logged" class="not-logged">
        <h2>Tu n'es pas connecté !</h2>
        <p>Connecte toi pour accéder à ta watchlist, et profiter pleinement de Weebz !</p>
        <a routerLink="/connexion" class="login-link">Clique ici</a>
    </div>
    <div *ngIf="logged" class="logged">
        <div id="watchlist-container">
            <app-artwork-thumbnail *ngFor="let artwork of watchlist" class="item" [artwork]="artwork"></app-artwork-thumbnail>
        </div>
    </div>
</div>

<div id="mobile-container">
    <h2>Watchlist</h2>
    <div *ngIf="!logged" class="not-logged">
        <h2>Tu n'es pas connecté !</h2>
        <p>Connecte toi pour accéder à ta watchlist, et profiter pleinement de Weebz !</p>
        <a routerLink="/connexion" class="login-link">Clique ici</a>
    </div>
    <div id="mobile-watchlist-container">
        <app-artwork-thumbnail *ngFor="let artwork of watchlist" class="mobile-item" [artwork]="artwork"></app-artwork-thumbnail>
    </div>
</div>
