#container {
    width: 100%;
    padding: 2em;
}

.title h1 {
    text-align: center;
}

.not-logged {
    background-color: gray;
    margin-top: 2em;
    padding: 5em;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.login-link{
    color: black
}

#watchlist-container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    padding: 1em;
    width: 25%;
}