<div id="container">
    <div *ngIf="!logged" class="not-logged">
        <h2>Tu n'es pas connecté !</h2>
        <p>Connecte toi pour accéder à ta watchlist, et profiter pleinement de Weebz !</p>
        <a routerLink="/connexion" class="login-link">Clique ici</a>
    </div>
    <div *ngIf="logged" class="logged">
        <div id="watchlist-container">
            <div *ngFor="let artwork of watchlist">
                <p>{{ artwork.title }}</p>
            </div>
        </div>
    </div>
</div>
