<div id="container">
    <h2>Salut les Weebz,</h2>
    <p>Voici la liste des dernières et récentes sorties :</p>
    <ul>
        <li><a [routerLink]="['artwork', 31]">Le secret des îles errantes</a> ( <a [routerLink]="['author',23]">Rien</a> ) jusqu'à 19 épisodes</li>
        <li><a [routerLink]="['artwork', 35]">Letham heis</a> version manga et webtoon ( <a [routerLink]="['author',3]">Ehjos</a> ) jusqu'à 3 épisodes</li>
        <li><a [routerLink]="['artwork', 33]">Kemonohito</a> ( <a [routerLink]="['author',25]">Romain buzz</a> ) chapitre 1</li>
        <li><a [routerLink]="['artwork', 24]">Les piouz</a> ( <a [routerLink]="['author',17]">Shyro</a> ) jusqu'à 8 chapitres</li>
        <li><a [routerLink]="['artwork', 34]">Steam walkers</a> ( <a [routerLink]="['author',26]">Dadou_from_here</a>) 1 épisode</li>
        <li><a [routerLink]="['artwork', 26]">The Lost One</a> ( <a [routerLink]="['author',19]">Lord_Dvl</a> ) 6 chapitres</li>
    </ul>
</div>