<div class="container">
    <div class="title-container row d-flex justify-content-center">
        <h1>Inscription</h1>
    </div>
    <div class="main-content-container row d-flex justify-content-center">
        <div class="main-content">
            <form [formGroup]="registrationForm">
                <p class="input-information">E-mail:</p>
                <input formControlName="email" type="text" class="input" name="email" placeholder="E-mail">
                <p class="input-information">Nom:</p>
                <input formControlName="name" type="text" class="input" name="nom" placeholder="Nom">
                <p class="input-information">Prénom:</p>
                <input formControlName="firstName" type="text" class="input" name="prenom" placeholder="Prénom">
                <p class="input-information">Pseudo:</p>
                <input formControlName="surname" type="text" class="input" name="pseudo" placeholder="Prénom">
                <p class="input-information">Mot de passe:</p>
                <input formControlName="password" type="password" class="input" name="password" placeholder="Mot de passe"><br>
                <p class="input-information">Confirmer le mot de passe:</p>
                <input formControlName="confirm_password" type="password" class="input" name="confirm-password" placeholder="Mot de passe"><br>
                <div class="button-container row d-flex justify-content-center">
                    <button [disabled]="!registrationForm.valid" class="inscription-button" (click)="onSubmit()">Inscription</button>
                </div>
            </form>
        </div>
    </div>
</div>