<div class="container-fluid main-container">
    <div class="upload-header">
        <h1>Publier une série</h1>
    </div>
    <div id="main-content">
        <div class="side-bar">
            <div id="cover-input-container">
                <h4 class="drop-title">Couverture de l'oeuvre</h4>
                <div 
                    id="cover-drop-zone"
                    class="drop-zone"
                    (dragover)="onDragOver($event)"
                    (drop)="onDropCover($event)"
                    (click)="triggerFileInputCover()">
                        <p *ngIf="!coverPreviewSrc">Cover</p>
                        <img 
                            *ngIf="coverPreviewSrc"
                            [src]="coverPreviewSrc"
                            alt="Cover Preview"
                            class="cover-preview"
                        >
                </div>
                <input 
                    #fileCoverInput
                    type="file"
                    style="display: none;"
                    (change)="onFileSelectedCover($event)"
                >
            </div>
            <h2 class="drop-title">Background de l'oeuvre</h2>
            <div 
                class="drop-zone"
                (dragover)="onDragOver($event)"
                (drop)="onDropBackground($event)"
                (click)="triggerFileInputBackground()">
                    <p *ngIf="!backgroundPreviewSrc">Background</p>
                    <img 
                        *ngIf="backgroundPreviewSrc"
                        [src]="backgroundPreviewSrc"
                        alt="Background Preview"
                        class="background-preview"
                    >
            </div>
            <input 
                #fileBackgroundInput
                type="file"
                style="display: none;"
                (change)="onFileSelectedBackground($event)"
            >

        </div>
        <div id="artwork-infos">
            <h2>Type de l'oeuvre</h2>
            <div id="type-container">
                <span [ngClass]="{'selected': type==='MANGA'}" class="artwork-type-selector" (click)="setType('MANGA')">Manga</span>
                <span [ngClass]="{'selected': type==='COMIC'}" class="artwork-type-selector" (click)="setType('COMIC')">Webtoon</span>
                <span [ngClass]="{'selected': type==='NOVEL'}" class="artwork-type-selector" (click)="setType('NOVEL')">Light-Novel</span>
            </div>
            <h3>Titre de l'oeuvre</h3>
            <input [(ngModel)]="title" type="text" class="text-input">
            <h3>Résumé</h3>
            <textarea name="" [(ngModel)]="description" cols="100" rows="10" class="text-input" id="description-input"></textarea>
            <div >
                <p (click)="onValidate()" id="validate-button" >
                    Créer L'oeuvre
                </p>
            </div>
            <div id="publish-informations">
                <p>Si tu as besoin d'informations, consulte notre page: <a routerLink="/tuto-upload" class="weebz-link">Comment créer une oeuvre ?</a></p>
            </div>
        </div>
    </div>
</div>
<div id="not-connected" *ngIf="!isConnected">
    <div id="not-connected-content">
        <p>Tu dois être connecté pour publier une oeuvre</p>
        <a class="weebz-link" href="/connexion">Se connecter</a>
    </div>
</div>
