<div class="carousel-title texte-souligne" [ngStyle]="{'--couleur-fond-after': color}">
    <h3>{{title}}</h3>
</div>
<div class="carousel-container row" *ngIf="!isMobile"> 
    <div class="carousel-content col-11 offset-1">
        <div class="carousel row">
            <ng-container *ngFor="let item of carouselItems; let i = index">
                <app-artwork-thumbnail
                    class="col-2"
                    [artwork]="item">
                </app-artwork-thumbnail>
            </ng-container>
        </div>
    </div>
</div>
<div id="mobile-carousel-container" *ngIf="isMobile">
    <app-artwork-thumbnail
        *ngFor="let item of carouselItems; let i = index"
        [artwork]="item"
        class="mobile-artwork-thumbnail"></app-artwork-thumbnail>
</div>
