.carousel-header {
    display: flex;
    flex-direction: column; /* les éléments enfants s'empilent verticalement */
}

.carousel-title {
    margin-top: 5em;
    margin-left: 3em;
}

.carousel-title h3 {
    font-weight: bold;
}

.carousel-container {
    margin-top: 2em;    
}

.texte-souligne {
    position: relative;
    font-size: 24px;

    text-decoration: none;
    }

.texte-souligne::after {
    content: "";
    position: absolute;
    bottom: -0.5em;
    height: 3px;
    background-color: var(--couleur-fond-after);

    width: 50%;
    left: 50%;
    transform: translateX(-100%);
}