.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.5); /* couleur grise semi-transparente */
    display: flex;
    justify-content: center; /* Centrage horizontal */
    align-items: center;     /* Centrage vertical */
    z-index: 1000;           /* S'assurer qu'il est au-dessus de tout le reste */
}

.spinner {
    border: 8px solid rgba(255, 255, 255, 0.3);   /* Couleur grise claire du cercle */
    border-radius: 50%;                           /* Cercle parfait */
    border-top: 8px solid #000;                   /* Couleur du secteur supérieur du cercle */
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;           /* Animation pour faire tourner le spinner */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}