<div id="container">
    <h2>{{title}}</h2>
    <p (click)="navigateToAuthor()" >{{authorName}}</p>
    <div id="liseuse-container" #liseuseContainer>
        <app-vertical-liseuse [pages]="pages" *ngIf="verticalScroll" ></app-vertical-liseuse>
        <app-horizontal-liseuse [pages]="pages" *ngIf="!verticalScroll" ></app-horizontal-liseuse>
    </div>
    <h2>Chapitre terminé</h2>
    <app-mobile-shop-thumbnail #shopComponent [shopId]="shopId" *ngIf="shop" id="mobile-shop-thumbnail" ></app-mobile-shop-thumbnail>
    <app-next-chapters-for-view #nextChapters [artworkId]="artworkId" [chapterIndex]="chapter.index" [authorId]="author.id"></app-next-chapters-for-view>
    <app-comments-displayer #comments [commentableId]="chapter.id" [commentableType]="'chapter'" ></app-comments-displayer>
</div>