@import '../../../variables';

#container {
    min-height: 80vh;
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container p {
    color: $gray;
}

#title {
    text-align: center;
}

#direction-selector {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#direction-selector p {
    margin: 0;
    margin-right: 10px;
}

#direction-selector i {
    margin-right: 10px;
}

#mobile-shop-thumbnail {
    width: 100%;
}

#comments p {
    width: 100%;
    text-align: center;
    color: gray;
}

#navigate-chapters {
    margin-top: 20px;
}

#next-chapter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#bottom-page {
    padding-top: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 100vh
}

#bottom-page p {
    color: $gray;
    text-align: center;
}

#spinner-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner-next-chapter {
    margin-top: 10px;
    border: 8px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    border-top: 8px solid #000;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    color: $gray;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}