.main-presentation {
    padding-top: 2em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.author-name-container {
    // center the author name
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.cover-container {
    padding-right: 1em;
    padding-left: 1em;
}

.cover {
    //size the image to fit the container
    width: 100%;
    margin-left: 1em;
    margin-right: 1em;
}

.right-presentation {
    padding: 2em;
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 2em;
    border-radius: 1em;
}

.slider-container {
    margin-top: 1em;
    overflow: hidden;
    white-space: nowrap;
}

.slider-content {
    transition: transform 0.3s ease-out;
    white-space: nowrap;
}

.socials-button {
    margin: 1em;
}

.author-name {
    color: #FF7530;
}