<div class="container-fluid main-container">
    <div class="main-presentation">
        <div class="row">
            <div class="left-presentation col-3 offset-1">
                <div class="cover-container">
                    <img class="cover" src="../../../assets/test-accueil.png">
                </div>
                <div class="author-name-container">
                    <h2>Par <a href="#">Pseudo</a></h2>
                </div>
            </div>
            <div class="right-presentation col-7">
                <h2>Titre</h2>
                <h4>Synopsis</h4>
                <p>{{synopsisTemp}}</p>
            </div>
        </div>
    </div>
    <div class="chapters-container">

    </div>
</div>
