<div class="main-container">
    <div class="main-presentation" [ngStyle]="{ 'background-image': 'url(' + artwork.backgroundImageUrl + ')'}" *ngIf="!isMobile" >
        <div class="row">
            <div class="left-presentation col-4">
                <div class="cover-container">
                    <img class="cover" src="{{artworkCover}}">
                </div>
                <div class="author-name-container">
                    <h2>Par <a class="author-name" (click)="navigateToAuthor()">{{authorName}}</a></h2>
                </div>
            </div>
            <div class="right-presentation col-7">
                <h2>{{artwork.title}}</h2>
                <h4>Synopsis:</h4>
                <p class="synopsis">{{artwork.description}}</p>
                <div id="views">
                    <p>{{artwork.views}}</p><i class="fa-regular fa-eye"></i>
                </div>
                <app-four-products-shop-thumbnail *ngIf="shop" [shop]="shop" #shopComponent></app-four-products-shop-thumbnail>
            </div>
        </div>
    </div>

    <h2 class="chapters-title" *ngIf="!isMobile">Les chapitres:</h2>

    <div class="slider-container" *ngIf="!isMobile">
        <div class="slider-content">
            <app-chapter-thumbnail
                *ngFor="let c of chapters"
                [chapter]="c"
                [type]="artworkType"
            ></app-chapter-thumbnail>
        </div>
    </div>

    <div id="mobile-main-presentation" *ngIf="isMobile">
        <h4>{{artwork.title}}</h4>
        <p>{{authorName}}</p>
        <div id="mobile-cover-container">
            <img src="{{artworkCover}}" >
        </div>
        <div id="mobile-chapters-title">
            <p>Les chapitres:</p>
        </div>
        <div id="mobile-chapters">
            <app-chapter-thumbnail
                class="mobile-chapter-thumbnail"
                *ngFor="let c of chapters"
                [chapter]="c"
                [type]="artworkType"></app-chapter-thumbnail>
        </div>
        <p>{{artwork.description}}</p>
        <app-mobile-shop-thumbnail *ngIf="shop" [shopId]="shop.id"></app-mobile-shop-thumbnail>
    </div>
</div>
