<div class="container-fluid main-container">
    <div class="main-presentation" [ngStyle]="{ 'background-image': 'url(' + artwork.backgroundImageUrl + ')'}" >
        <div class="row">
            <div class="left-presentation col-4">
                <div class="cover-container">
                    <img class="cover" src="{{artworkCover}}">
                </div>
                <div class="author-name-container">
                    <h2>Par <a class="author-name" (click)="navigateToAuthor()">{{authorName}}</a></h2>
                    <i class="fa-solid fa-bookmark fa-2x follow-icon" *ngIf="isFollowing" (click)="onFollow()"></i>
                    <i class="fa-regular fa-bookmark fa-2x follow-icon" *ngIf="!isFollowing" (click)="onFollow()"></i>
                </div>
            </div>
            <div class="right-presentation col-7">
                <h2>{{artwork.title}}</h2>
                <h4>Synopsis</h4>
                <p class="synopsis">{{artwork.description}}</p>
                <div class="button-container">
                    <button class="socials-button btn btn-primary">
                        <i class="fa-solid fa-user-plus"></i>
                        Follow
                    </button>
                    <button class="btn btn-primary">
                        <i class="fa-solid fa-heart"></i>
                        Like
                    </button>
                </div>
                <p>
                    {{artwork.views}} Vues
                </p>
            </div>
        </div>
    </div>

    <h2 class="chapters-title">Chapitres</h2>

    <div class="slider-container">
        <div class="slider-content">
            <app-chapter-thumbnail
                *ngFor="let c of chapters"
                [chapter]="c"
                [type]="artworkType"
            ></app-chapter-thumbnail>
        </div>
    </div>
    <div id="sub-presentation">
        <div id="comments">
            <app-comments-displayer [commentableId]="artWorkId" [commentableType]="'artwork'"></app-comments-displayer>
        </div>
    </div>
</div>
