@import '../../../variables';

.main-presentation {
    padding-top: 2em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.author-name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    padding: 1em;
    background-color: rgba(0,0,0,0.8);
}

.author-name-container h2 {
    margin: 0em 0.5em;
    font-size: 3vh;
    cursor: pointer;
}

#views p {
    margin-right: 0.5em;
    margin-bottom: 0em;
}

#views {
    display: flex;
    flex-direction: row;
}

.cover-container {
    padding-right: 1em;
    padding-left: 1em;
}

.cover {
    //size the image to fit the container
    width: 100%;
}

.left-presentation {
    padding: 5em;
}

.right-presentation {
    padding: 2em;
    background-color: rgba(0,0,0,0.8);
    margin-bottom: 2em;
    border-radius: 1em;
}

.right-presentation h2 {
    font-weight: bold;
}

.slider-container {
    margin-top: 1em;
    overflow: hidden;
    white-space: nowrap;
    overflow-x: auto;
}

.slider-content {
    transition: transform 0.3s ease-out;
    white-space: nowrap;
}

.socials-button {
    margin: 1em;
}

.author-name {
    color: #FF7530;
}

.shop-preview {
    padding: 5em;
    width: 100%;
}

.chapters-title {
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.synopsis {
    font-size: large
}

#comments {
    width: 50%;
}

#mobile-title-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mobile-text-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    margin: 5px 10px;
    padding: 10px;
    border-radius: 10px;
}

#mobile-text-presentation a {
    color: #FF7530;
    text-decoration: none;
}

#mobile-main-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mobile-main-presentation p {
    width: 90%;
    text-align: justify;
    margin-top: 5px;
}

#mobile-main-presentation h4 {
    margin-top: 20px;
    font-weight: bold;
}

#mobile-cover-container {
    padding: 10px;
    width: 60%;
}

#mobile-cover-container img {
    border-radius: 10px;
    width: 100%;
}

#mobile-chapters-title {
    width: 80%;
    text-align: left;
}

#mobile-chapters {
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.mobile-chapter-thumbnail {
    flex-shrink: 0;
    width: 50%;
}

#mobile-shop-thumbnail {
    width: 100%;
}
