<div class="container-fluid main-container">
    <div class="upload-header">
        <h1>Modifier une série</h1>
    </div>
    <div id="main-content">
        <div class="side-bar">
            <div id="cover-input-container">
                <h4 class="drop-title">Couverture de l'oeuvre</h4>
                <div 
                    id="cover-drop-zone"
                    class="drop-zone"
                    (dragover)="onDragOver($event)"
                    (drop)="onDropCover($event)"
                    (click)="triggerFileInputCover()">
                        <p *ngIf="!coverPreviewSrc">Cover</p>
                        <img 
                            *ngIf="coverPreviewSrc"
                            [src]="coverPreviewSrc"
                            alt="Cover Preview"
                            class="cover-preview"
                        >
                </div>
                <input 
                    #fileCoverInput
                    type="file"
                    style="display: none;"
                    (change)="onFileSelectedCover($event)"
                >
            </div>
            <h2 class="drop-title">Background de l'oeuvre</h2>
            <div 
                class="drop-zone"
                (dragover)="onDragOver($event)"
                (drop)="onDropBackground($event)"
                (click)="triggerFileInputBackground()">
                    <p *ngIf="!backgroundPreviewSrc">Background</p>
                    <img 
                        *ngIf="backgroundPreviewSrc"
                        [src]="backgroundPreviewSrc"
                        alt="Background Preview"
                        class="background-preview"
                    >
            </div>
            <input 
                #fileBackgroundInput
                type="file"
                style="display: none;"
                (change)="onFileSelectedBackground($event)"
            >

        </div>
        <div id="artwork-infos">
            <h2>Tags</h2>
            <div id="type-container">
                <span [ngClass]="{'selected': tags.includes('action')}" class="artwork-type-selector" (click)="toggleTag('action')">action</span>
                <span [ngClass]="{'selected': tags.includes('fiction')}" class="artwork-type-selector" (click)="toggleTag('fiction')">fiction</span>
                <span [ngClass]="{'selected': tags.includes('romance')}" class="artwork-type-selector" (click)="toggleTag('romance')">romance</span>
                <span [ngClass]="{'selected': tags.includes('drame')}" class="artwork-type-selector" (click)="toggleTag('drame')">drame</span>
                <span [ngClass]="{'selected': tags.includes('comedie')}" class="artwork-type-selector" (click)="toggleTag('comedie')">comedie</span>
            </div>
            <h3>Titre de l'oeuvre</h3>
            <input [(ngModel)]="title" type="text" class="text-input">
            <h3>Résumé</h3>
            <textarea name="" [(ngModel)]="description" cols="100" rows="10" class="text-input" id="description-input"></textarea>
            <div >
                <p (click)="onValidate()" id="validate-button" >Modifier L'oeuvre</p>
            </div>
        </div>
    </div>
</div>
