<div id="container">
    <h1>Programme Bêta de Weebz</h1>
    <img src="../../../../assets/logo_text.png">
    <div id="intro">
        <p>
            Weebz, le carrefour créatif pour mangas, webtoons, et light novels. Notre plateforme est dédiée à la publication et à la lecture gratuite d'œuvres fascinantes. Ici, les auteurs peuvent non seulement partager leurs créations, mais aussi établir un lien fort avec leurs fans. Grâce à notre boutique intégrée, les lecteurs peuvent acquérir des produits dérivés uniques, soutenant ainsi leurs auteurs préférés.
        </p>
    </div>
    <div id="programme-beta">
        <h3>Rejoignez Notre Programme Bêta</h3>
        <p>
            Weebz est en pleine évolution, et votre contribution peut faire toute la différence ! Participez à notre programme bêta pour nous aider à peaufiner et enrichir l'expérience utilisateur. Inscrivez-vous dès maintenant en cliquant sur le bouton ci-dessous.
        </p>
        <div id="join-info">
            <button id="join-button" [ngClass]="{'inbeta' : isInBeta, 'disabled' : !isLogged}" (click)="onButtonEnroll()">Rejoindre le programme</button>
            <p *ngIf="!isLogged">Vous devez être connecté(e) pour rejoindre le programme bêta.</p>
            <p *ngIf="isInBeta">Félicitations, vous faites partie de notre programme bêta !</p>
            <p *ngIf="!isInBeta">Vous n'êtes pas encore inscrit(e) au programme bêta.</p>
        </div>
        <p>En tant que membre bêta, vous recevrez des enquêtes et questionnaires par e-mail pour nous donner votre avis sur le site. Tous les participants recevront un badge exclusif en reconnaissance de leur contribution. Vous pouvez vous désinscrire du programme à tout moment depuis cette page.</p>
    </div>
</div>

