<div id="container">
    <h1>Ink House x Weebz</h1>
    <p>Salut les weeb,</p>
    <p> 
        Salut les weeb,
        Nous sommes heureux de vous présenter notre nouvelle collaboration avec le groupe de jeunes talentueux mangakas de la “Ink House”. En effet, car si nous voulons absolument vous montrer le meilleur du manga français. Comment passer outre cette nouvelle génération dorée qui émerge de plus en plus en France.  Certains on déjà signé dans de grandes maisons d’autres ont préféré rester dans l’autoédition. 
    </p>
</div>