@import '../../../../variables';

#container {
    background-color: $dark-gray;
    display: flex;
    flex-direction: column;
    padding: 5vh;
}

#line {
    width: 100%;
    height: 1px;
    background-color: $orange;
}

#form {
    padding: 2vh;
    display: flex;
    flex-direction: row;
}

#left-side-container {
    display: flex;
    flex-direction: column;
    padding: 2vh;
    align-items: center;
    justify-content: center;
}

#message {
    width: 100%;
    padding: 2vh;
}

.champ p {
    margin:0;
}

#message-input {
    width: 100%;
    min-height: 10vh;
}

.input {
    color: white;
    background-color: $dark-gray;
    border: 1px solid $orange;
    border-radius: 1vh;
}

