<div id="container">
    <div id="content">
        <h3>Réinitialisation du mot de passe</h3>
        <p>Un email vous sera envoyé pour réinitialiser votre mot de passe.</p>
        <form 
            [formGroup]="forgotPasswordForm"
            (ngSubmit)="onSubmit()"
            id="form">
            <input type="text" formControlName="email">
            <button type="submit" id="submit-button">Envoyer</button>
        </form>
        <div *ngIf="emailSent" id="emailsent">
            <p>Un email vous a été envoyé.</p>
            <i class="fa-solid fa-check"></i>
        </div>
    </div>
</div>