<div class="container-fluid">
    <div class="header">

    </div>

    <div class="main-content">
        <div id="back-to-shop" routerLink="/shop/{{shopId}}" >
            <i class="fa-solid fa-arrow-left"></i>
            <p>Retour Boutique</p>
        </div>
        <div id="product-presentation">
            <div id="images-container">
                <img [src]="mainImage">
                <div id="carousel" *ngIf="isCarouselDisplayed">
                    <i class="fa-solid fa-angle-left fa-xl carousel-arrow" (click)="onCarouselPrevious()" ></i>
                    <div id="image-carousel-container">
                        <img 
                            *ngFor="let image of imagesToShowCarousel" 
                            [src]="image"
                            (click)="onImageCarouselClick(image)">
                    </div>
                    <i class="fa-solid fa-angle-right fa-xl carousel-arrow" (click)="onCarouselNext()" ></i>
                </div>
            </div>
            <div id="text-presentation">
                <div id="main-information">
                    <h1>{{productName}}</h1>
                    <p>{{productCategory}}</p>
                    <div id="star-comm">
                        <div id="star-container">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <p id="commentaires" (click)="scrollToComments()">Commentaires</p>
                    </div>
                    
                    <p>{{productPrice}}€</p>
                    <a (click)="onAddToCart()">
                        <div id="buy-button">
                            <h4>Ajouter au panier</h4>
                        </div>
                    </a>
                </div>
                <div id="line"></div>
                <div id="description">
                    <h2>Description</h2>
                    <p>{{product.description}}</p>
                </div>
                <div id="certifications">
                    <h2>Garanties et Sécurité</h2>
                    <div id="stripe">
                        <p>Paiement assuré par : Stripe <img src="../../../../assets/stripe_logo.png"></p>
                    </div>
                    <div id="secured-transaction">
                        <img src="../../../../assets/secured-transaction.webp">
                    </div>
                    Voir nos conditions de vente <a>ici</a>.
                </div>
            </div>
        </div>
        <div id="similar-products">
            <app-page-produit-similar-product [product$]="product$"></app-page-produit-similar-product>
        </div>
        <div id="comments">
            <app-comments-displayer #comments [commentableId]="productId" [commentableType]="'product'"></app-comments-displayer>
        </div>
    </div>
</div>
<app-my-shopping-cart #cartComponent></app-my-shopping-cart>
