<div 
    #mangaContainer
    class="manga-container"
    tabindex="0"
    (keydown.ArrowLeft)="nextPage()"
    (keydown.ArrowRight)="previousPage()"
    (blur)="onBlur()"
    >
    <div class="left-arrow-container">
        <i (click)="nextPage()" class="fa-solid fa-arrow-left fa-2xl click-arrow"></i>
    </div>
    <img [src]="leftPage" alt="Page Manga {{currentPageIndex+1}}">
    <img [src]="rightPage" alt="Page Manga {{currentPageIndex}}">
    <div class="right-arrow-container">
        <i (click)="previousPage()" class="fa-solid fa-arrow-right fa-2xl click-arrow"></i>
    </div>
</div>