.carousel-item {
    display: block;
    background-color: transparent;
    cursor: pointer;
  }
  
.carousel-item  {
    transition: filter 0.3s;
    filter: brightness(1);
    transition: transform 0.3s;
    transform: scale(1);
}

.carousel-item:hover  {
    transform: scale(1.1);
}

img {
    transition: filter 0.3s;
}

.carousel-item:hover img {
    filter: brightness(0.1);
}

.carousel-item:hover .synopsis {
    visibility: visible;
}

.synopsis {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-25%, -25%);
    visibility: hidden;
}

.fav-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    color: gray;
    font-size: 1.5em;
    transition: color 0.3s;
    visibility: hidden;
}

.carousel-item:hover .fav-icon {
    visibility: visible;
}

.carousel-item:hover .views {
    visibility: visible;
}

.fav-icon:hover {
    color: white;
    cursor: pointer;
    scale: 1.5;
}

.name {
    padding-top: 0.5em;
    text-align: center;
    justify-content: center;
}

.author {
    text-align: center;
    justify-content: center;
}

.views {

    visibility: hidden;
}

@media only screen and (max-width: 1600px) {
    .synopsis {
        font-size: 12px;
    }
}