<div class="dropdown-container">
    <a routerLink="/my-profile"><i class="header-icon fa-solid fa-xl fa-user-check"></i></a>
    <div class="dropdown-content">
        <div class="dropdown-item">
            <p>BOUTON</p>
        </div>
        <div class="dropdown-item">
            <p>BOUTON</p>
        </div>
        <div class="dropdown-item">
            <p>BOUTON</p>
        </div>
        <div class="dropdown-item">
            <p>BOUTON</p>
        </div>
        <div class="dropdown-item">
            <p>BOUTON</p>
        </div>
        <div class="dropdown-item">
            <p>BOUTON</p>
        </div>  
    </div>
</div>
