.main-container {
    width: 100%;
}

.vignette {
    width: 20%;
}

#mobile-container {
    width: 100%;
    box-sizing: border-box;
}

#products {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

#mobile-products {
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
}

.mobile-vignette {
    flex-shrink: 0;
    width: 40%;
}