<div class="main-container">
    <div id="header">
        <h3>Plus de la même boutique :</h3>
    </div>
    <div id="products" *ngIf="!isMobile">
        <app-product-vignette class="vignette" *ngFor="let product of shop.products" [product]="product"></app-product-vignette>
    </div>
    <div id="mobile-products" *ngIf="isMobile">
        <app-mobile-product-vignette class="mobile-vignette" *ngFor="let product of shop.products" [product]="product"></app-mobile-product-vignette>
    </div>
</div>
