<div class="container-fluid">
    <div class="row">
        <div class="side-bar col-2">
            <div class="side-bar-header">
                <img id="profile-picture"src="../../../assets/icon.png">
                <h3>Username</h3>
            </div>
        </div>
        <div class="main-content col-10">
            <div class="title-container"><h2>Mon Profil :</h2></div>
            <div class="personal-data">
                <p>Nom : {{name}}</p>
                <p>Surnom : {{surname}}</p>
                <p>Mail : {{email}}</p>
                <p>Date de naissance : </p>
            </div>
        </div>
    </div>
</div>
