@import '../../../variables';

.side-bar-header {
    padding: 3em;
    text-align: center;
}

#header {
    padding: 1vh;
    position:relative;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vw / 12)
}

#profil-info {
    height: 100%;
    display: flex;
}

#profile-picture {
    height: 100%;
    border-radius: 50%;
    border: 1px solid #000;
}

.surname {
    font-size: 1.5em;
    font-weight: bold;
}

#modify-picture-info {
    position: absolute;
    display: flex;
    bottom: 1em;
    left: calc(100vw / 12)
}



.modif-profile-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    transition: transform 0.3s 
}

.image-container {
    position: relative;
    height: 100%;
}

.image-container:hover img {
    opacity: 75%;
    cursor: pointer;
}

.image-container:hover .modif-profile-icon {
    cursor: pointer;
    visibility: visible;
    transform: scale(1.5) translate(-25%, -25%);
}

#content-container {
    display: flex;
}

#sidebar {
    width: max-content;
    position: sticky;
    top: 20px;
}

#sidebar p {
    background-color: $dark-gray;
    margin: 0;
    padding: .5em 1em;
    font-size: 1.5em;
    border: 1px solid rgb(68, 68, 68);
    text-align: center;

    &:hover {
        cursor: pointer;
        color: $orange;
    }
}

#content {
    padding: 2vh;
}

#new-background-input {
    position: absolute;
    top: 2vh;
    right: 2vh;
}

#new-background-input p {
    z-index: 1000;
    color: white;
    cursor: pointer;

    &:hover {
        color: $orange;
        text-decoration: underline;
    }
    
}