<div class="container-fluid">
    <div class="row" id="header" [ngStyle]="{'background-image': 'url(' + user.bannerUrl + ')'}" >
        <div class="side-bar col-2">
            <div class="side-bar-header">
                <div class="image-container">
                    <img id="profile-picture" src="{{showedPicture}}" (click)="triggerFileInput()">
                    <i class="fa-solid fa-plus fa-2x modif-profile-icon" (click)="triggerFileInput()"></i>
                    <input #newPictureInput type="file" style="display:none;" (change)="onFileSelected($event)"> 
                </div>
                <div *ngIf="!isPictureValid">
                    <p class="error-message">Le format de l'image doit être 1:1</p>
                </div>
                <div *ngIf="pictureEdition">
                    <button class="btn btn-primary" (click)="updateProfilePicture()" [disabled]="!isPictureValid" >Modifier</button>
                </div>
                <h3 class="surname">{{user.surname}}</h3>
            </div>
        </div>
        <div class="main-content col-10">
    
        </div>
    </div>
    <div id="content-container">
        <div id="sidebar">
            <p (click)="navigateTo('compte')">Mon compte</p>
            <p (click)="navigateTo('oeuvres')">Mes oeuvres</p>
            <p (click)="navigateTo('favoris')">Mes préférences</p>
            <p (click)="navigateTo('commandes')">Mes commandes</p>
        </div>
        <div id="content">
            <app-my-account-gestion *ngIf="navigation=='compte'" [user$]="user$" ></app-my-account-gestion>
            <app-my-artworks-gestion *ngIf="navigation=='oeuvres'" [user$]="user$" ></app-my-artworks-gestion>
        </div>
    </div>
</div>
