<div id="container" *ngIf="!isMobile">
    <div id="header" [ngStyle]="{'background-image': 'url(' + showedBackground + ')'}" >
        <div id="new-background-input">
            <input #newBackgroundInput type="file" style="display:none;" (change)="onFileSelectedBackground($event)">
            <p (click)="triggerFileInputBackground()">Modifier ma banière</p>
            <button *ngIf="backgroundEdition" class="btn btn-primary" (click)="updateProfileBackground()" [disabled]="!isBackgroundValid" >Valider</button>
        </div>
        <div id="profil-info">
            <div class="image-container">
                <img id="profile-picture" src="{{showedPicture}}" (click)="triggerFileInput()">
                <i class="fa-solid fa-plus fa-2x modif-profile-icon" (click)="triggerFileInput()"></i>
                <input #newPictureInput type="file" style="display:none;" (change)="onFileSelected($event)"> 
            </div>
            <h3 class="surname">{{user.surname}}</h3>
            <div id="modify-picture-info">
                <div *ngIf="!isPictureValid">
                    <p class="error-message">Le format de l'image doit être 1:1</p>
                </div>
                <div *ngIf="pictureEdition">
                    <button class="btn btn-primary" (click)="updateProfilePicture()" [disabled]="!isPictureValid" >Valider</button>
                </div>
            </div>
        </div>
    </div>
    <div id="content-container">
        <div id="sidebar">
            <p (click)="navigateTo('compte')">Mon compte</p>
            <p (click)="navigateTo('oeuvres')">Mes oeuvres</p>
            <p (click)="navigateTo('boutiques')">Mes boutiques</p>
            <p (click)="navigateTo('favoris')">Mes préférences</p>
            <p (click)="navigateTo('commandes')">Mes commandes</p>
        </div>
        <div id="content">
            <app-my-account-gestion *ngIf="navigation=='compte'" [user$]="user$" class="content-component" ></app-my-account-gestion>
            <app-my-artworks-gestion *ngIf="navigation=='oeuvres'" [user$]="user$" class="content-component"></app-my-artworks-gestion>
            <app-my-shops-gestion *ngIf="navigation=='boutiques'" [user$]="user$" class="content-component"></app-my-shops-gestion>
            <app-my-preferences-gestion *ngIf="navigation=='favoris'" [user$]="user$" class="content-component"></app-my-preferences-gestion>
            <app-my-orders-gestion *ngIf="navigation=='commandes'" [user$]="user$" class="content-component"></app-my-orders-gestion>
        </div>
    </div>
</div>

<div id="mobile-container" *ngIf="isMobile">
    <div id="mobile-profile-picture-container">
        <img id="mobile-profile-picture" src="{{showedPicture}}" (click)="triggerFileInput()">
        <i class="fa-solid fa-plus fa-2x" (click)="triggerFileInput()"></i>
        <input #newPictureInput type="file" style="display:none;" (change)="onFileSelected($event)">
    </div>
    <p>{{user.surname}}</p>
    <div id="mobile-banner-container">
        <img id="mobile-banner" src="{{showedBackground}}" (click)="triggerFileInputBackground()">
        <input #newBackgroundInput type="file" style="display:none;" (change)="onFileSelectedBackground($event)">
    </div>
    <div id="personal-infos">
        <h4>Informations: </h4>
        <p>Nom : {{user.name}}</p>
        <p>Prénom : {{user.firstName}}</p>
        <p>Pseudo : {{user.surname}}</p>
        <p>Mail : {{user.email}}</p>
        <p>Date de naissance : {{user.birthDate}}</p>
        <p>Téléphone : {{user.telephone}}</p>
    </div>
</div>
