@import '../../../../variables';

//button style

.line {
    width: 80%;
    translate: 10%;
    height: 3px;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: darken(white, 10%)
}

#cart-open-button{
    position: fixed;
    top: 6em;
    right: 1em;
    z-index: 10;

    //Button style
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 1em;
    border: none;
    background-color: $orange;
    border-radius: 1em;

    cursor: pointer;
}

@media (max-width: 768px) {
    #cart-open-button {
        top: 5em;
        right: 10px;
        color: white;
    }
}

#cart-open-button:hover{
    background-color: darken($orange, 10%);
}

#cart-open-button p{
    margin: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: $white;
}

//cart style
#cart-screen{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

    display: flex;

    background-color: rgba(0, 0, 0, 0.5);
}

#cart {
    color: black;
    position: relative;
    top: 0;
    margin-right: 0;
    margin-left: auto;
    bottom: 0;
    width: 30%;

    background-color: white;

    overflow: scroll;
}

@media (max-width: 768px) {
    #cart {
        box-sizing: border-box;
        width: 90%;
    }
}

#close-button {
    position: absolute;
    top: 1em;
    right: 1em;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 1em;
    border: none;

    cursor: pointer;
}

@media (max-width: 768px) {
    #close-button {
        top: 0;
        right: 30px
    }
}

#close-button i {
    color: $gray;

    &:hover {
        color: darken($gray, 10%);
    }
}

#cart-header {
    margin-top: 3em;
    margin-left: 3em;
}

@media (max-width: 768px) {
    #cart-header {
        margin-top: 1em;
        margin-left: 1em;
    }
}

#cart-header h2{
    color: black;
    font-weight: bold;
}

#product-container {
    margin-left: 10%;
    margin-right: 10%;

    padding: 2em;
    border-radius: 1em;

    background-color: darken(white, 5%);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    #product-container {
        margin-left: 5%;
        margin-right: 5%;
        padding: 1em;
    }
}

#empty-cart {
    text-align: center;
    margin: 0;
}

//Shipping

#shipping-container {
    padding: 1em;
}

#shipping-container h3 {
    margin: 0;
    margin-left: 1em;
}

#shipping-selection {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

#mondial-relay-recap {
    display: flex;
    flex-direction: row;
}

#mondial-relay-recap i {
    margin-left: 0.5em;
    color: green;
}

.selected-shipping {
    background-color: rgba(0, 0, 0, 0.1);
}

.shipping-method {
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.shipping-method p {
    margin: 0;
    margin-left: 0.5em;
}

//Footer

#cart-footer {
    margin-top: 2em;
    margin-left: 2em;
    color: black;
    position: relative;
    bottom: 0;
}

#total-price p {
    font-size: 2em;
}

#buy-button p{
    width: min-content;

    padding: 0.5em 1em;
    margin-bottom: 0;
    background-color: $orange;
    border-radius: 1em;
    color: $white;
    font-size: 1.2em;
    
    cursor: pointer;

    &:hover {
        background-color: darken($orange, 10%);
    }
}

#informations {
    margin-top: 2em;
    margin-bottom: 2em;
}

#informations img {
    height: 1.5em;
}

#secured-transaction img {
    height: 5em;
}

#mondial-relay-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#close-button-mondial-relay {
    position: absolute;
    top: 1em;
    right: 1em;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 1em;
    border: none;

    cursor: pointer;
    color: white;
}

#mondial-relay-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-available {
    color: $gray !important;
    background-color: $dark-gray !important;
    cursor: not-allowed !important;

    &:hover {
        background-color: $gray;
    }
}

#mondial-relay-content p {
    text-align: center;
    padding: 0.5em 1em;
    margin: 0;
    width: max-content;
    color: white;
    background-color: $orange;
    border-radius: 1em;
    cursor: pointer;

    &:hover {
        background-color: darken($orange, 10%);
    }
}
