@import '../../../../variables';

//button style

.line {
    width: 80%;
    translate: 10%;
    height: 3px;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: darken(white, 10%)
}

#cart-open-button{
    position: fixed;
    top: 6em;
    right: 1em;
    z-index: 1000;

    //Button style
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 1em;
    border: none;
    background-color: $orange;
    border-radius: 1em;

    cursor: pointer;
}

#cart-open-button:hover{
    background-color: darken($orange, 10%);
}

#cart-open-button p{
    margin: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: $white;
}

//cart style
#cart-screen{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

    display: flex;

    background-color: rgba(0, 0, 0, 0.5);
}

#cart {
    color: black;
    position: relative;
    top: 0;
    margin-right: 0;
    margin-left: auto;
    bottom: 0;
    width: 30%;

    background-color: white;

    overflow: scroll;
}

#close-button {
    position: absolute;
    top: 1em;
    right: 1em;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 1em;
    border: none;

    cursor: pointer;
}

#close-button i {
    color: $gray;

    &:hover {
        color: darken($gray, 10%);
    }
}

#cart-header {
    margin-top: 3em;
    margin-left: 3em;
}

#cart-header h2{
    color: black;
    font-weight: bold;
}

#product-container {
    margin-left: 10%;
    margin-right: 10%;

    padding: 2em;
    border-radius: 1em;

    background-color: darken(white, 5%);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}

#empty-cart {
    text-align: center;
    margin: 0;
}

#cart-footer {
    margin-top: 2em;
    margin-left: 2em;
    color: black;
    position: relative;
    bottom: 0;
}

#total-price p {
    font-size: 2em;
}

#buy-button p{
    width: min-content;

    padding: 0.5em 1em;
    margin-bottom: 0;
    background-color: $orange;
    border-radius: 1em;
    color: $white;
    font-size: 1.2em;
    
    cursor: pointer;

    &:hover {
        background-color: darken($orange, 10%);
    }
}

#informations {
    margin-top: 2em;
    margin-bottom: 2em;
}

#informations img {
    height: 1.5em;
}

#secured-transaction img {
    height: 5em;
}
