.carousel-title {
    margin-top: 5em;
    margin-left: 3em;
  }

.texte-souligne {
    position: relative;
    font-size: 24px; /* ajustez la taille de votre texte ici */
  
    /* Pour empêcher le soulignement par défaut */
    text-decoration: none;
  }
  
  .texte-souligne::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1em; /* vous pouvez ajuster cette valeur pour déplacer le soulignement vers le haut ou vers le bas */
    height: 3px; /* épaisseur du soulignement */
    background-color: #ff6400; /* couleur du soulignement */
  
    /* Pour définir une longueur spécifique pour le soulignement, commentez les lignes 'left' et 'right' ci-dessus et utilisez 'width' et 'center' à la place: */
    /* width: 150px; /* longueur du soulignement */
    /* left: 50%; */
    /* transform: translateX(-50%); */
  }

img {
    width: 100%;
    padding: 2em;
    transition: 0.5s;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
}