<div class="container-fluid">
    <div class="carousel-title texte-souligne">
        <h2>Nos Auteurs</h2>
    </div>
    <div class="row carousel-container">
        <div class="col-3 author-container">
            <img src="../../../../assets/fixtures/accueil/auteur1.png">
        </div>
        <div class="col-3 author-container">
            <img src="../../../../assets/fixtures/accueil/auteur2.png">
        </div>
        <div class="col-3 author-container">
            <img src="../../../../assets/fixtures/accueil/auteur3.png">
        </div>
        <div class="col-3 author-container">
            <img src="../../../../assets/fixtures/accueil/auteur4.png">
        </div>
    </div>
</div>
