<div id="container">
    <swiper-container 
        *ngIf="rtl"
        class="mySwiper"
        lazy="true"
        slides-per-view="auto"
        centered-slides="true"
        dir="rtl">
        <swiper-slide *ngFor="let page of pages" class="swiper-slide">
            <img [src]="page.pageUrl" loading="lazy">
        </swiper-slide>
    </swiper-container>
    <swiper-container 
        *ngIf="!rtl"
        class="mySwiper"
        lazy="true"
        slides-per-view="auto"
        centered-slides="true">
        <swiper-slide *ngFor="let page of pages" class="swiper-slide">
            <img [src]="page.pageUrl" loading="lazy">
        </swiper-slide>
    </swiper-container>
</div>

