.carousel-news-item {
    display: block;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
  }
  
.carousel-news-item {
    transition: filter 0.3s;
    transition: transform 0.3s;
}

.carousel-news-item:hover img{
    filter: brightness(0.1);
    transform: scale(1.1);
}

.carousel-news-item:hover {
    transform: scale(1.1);
}
  
.carousel-news-item h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
    text-align: center;
    width: 90%;
}
  
.carousel-news-item:hover h3 {
    opacity: 1;
    display: block;
}

h3 {
    display: block;
}