.carousel-news-container {
    padding-top: 10em;
    padding-bottom: 10em;
    background-image: url('../../../../assets/Backgroundweebz.png');
    background-size: cover;
    background-position: bottom;
    padding-left: 2em;
    padding-right: 2em;
    justify-content: center;
    align-items: center;
}

.image-0 {
    position: absolute;
    left: 20%;
    transform: translateX(-50%) scale(0.7);
    filter: brightness(0.5);
}

.image-1 {
    position: absolute;
    left: 35%;
    transform: translateX(-50%) scale(0.85);
    z-index: 5;
    filter: brightness(0.75);
}

.image-2 {
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

.image-3 {
    position: absolute;
    left: 65%;
    transform: translateX(-50%) scale(0.85);
    z-index: 5;
    filter: brightness(0.75);
}

.image-4 {
    position: absolute;
    left: 80%;
    transform: translateX(-50%) scale(0.7);
    filter: brightness(0.5);
}

.carousel-arrow {
    color: white;
    cursor: pointer;

    &:hover {
        color: #FFC107;
    }
}