<div class="container-fluid">
    <div class="header">
        <div id="profile-picture-container">
            <img id="profile-picture" [src]="authorPicture" alt="profile picture">
            <div id="profile-picture-text">
                <h3>{{author.user.surname}}</h3>
                <i class="fa-regular fa-bookmark fa-2x follow-icon"  *ngIf="!followed" (click)="onFollow()"></i>
                <i class="fa-solid fa-bookmark fa-2x follow-icon"*ngIf="followed" (click)="onFollow()"></i>
            </div>
            
        </div>
    </div>
    <div id="main-content">
        <div id="artworks">
            <app-author-artworks [author$]="author$"></app-author-artworks>
        </div>
        <div id="shops">
            <app-author-shops [author$]="author$"></app-author-shops>
        </div>
    </div>
</div>
  