@import '../../../variables.scss';

.container-fluid {
    justify-content: center;
}

#profile-picture-container {
    width: 10vw;
}

#profile-picture {
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.follow-icon {
    cursor: pointer;
    margin: 0 0.5em;
    color: $orange;

    &:hover {
        transform: scale(1.2);
    }
}

#profile-picture-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-picture-text h3 {
    margin: 0;
}

#banner {
    margin-top: 1em;
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

#presentation-title {
    font-size: 1.5em;
    font-weight: bold;
}

#main-content {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#artworks {
    width: 100%;
}

#shops {
    margin-top: 1em;
    width: 100%;
}

.line {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    height: 1px;
    background-color: grey;
}