@import '../../../variables.scss';

.header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-picture {
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.author-name-container {
    margin-top: 1rem;
}

.author-description {
    margin-top: 1rem;
}

.follow-icon {
    cursor: pointer;
    margin: 0 0.5em;
    color: $orange;

    &:hover {
        transform: scale(1.2);
    }
}