@import '../../../variables.scss';

.container-fluid {
    justify-content: center;
}

.header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-picture {
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.author-name-container {
    margin-top: 1rem;
}

.author-description {
    margin-top: 1rem;
}

.follow-icon {
    cursor: pointer;
    margin: 0 0.5em;
    color: $orange;

    &:hover {
        transform: scale(1.2);
    }
}

#right-side-header {
    padding: 1em;
}

#presentation-title {
    font-size: 1.5em;
    font-weight: bold;
}

#main-content {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#artworks {
    background-color: gray;
    height: 5em;
    width: 100%;
    max-width: 2000px;
}

#shops {
    margin-top: 1em;
    background-color: gray;
    height: 5em;
    width: 100%;
    max-width: 2000px;
}