<div class="">
    <div id="header" [ngStyle]="{'background-image': 'url(' + banner + ')'}" *ngIf="!isMobile">
        <div id="profile-picture-container">
            <img id="profile-picture" [src]="authorPicture" alt="profile picture">
            <div id="profile-picture-text">
                <h3>{{author.user.surname}}</h3>
            </div>
        </div>
        <div id="navigation-container">
            <p (click)="scrollToView('presentation')">Présentation</p>
            <p (click)="scrollToView('artworks')">Oeuvres</p>
            <p (click)="scrollToView('shops')">Boutiques</p>
        </div>
        <div id="socials">
            <app-socials-display-component #socialsDisplay [socials]="author.socialNetworks"></app-socials-display-component>
        </div>
    </div>
    <div id="mobile-header" *ngIf="isMobile">
        <div id="mobile-picture-and-socials">
            <img id="mobile-picture" [src]="authorPicture" alt="profile picture">
            <p>{{author.user.surname}}</p>
            <app-socials-display-component #socialsDisplay [socials]="author.socialNetworks" class="mobile-socials"></app-socials-display-component>
        </div>
        <div id="mobile-banner" [ngStyle]="{'background-image': 'url(' + banner + ')'}">
            
        </div>
        <div id="mobile-bio">
            <p>{{author.presentation}}</p>
        </div>
    </div>
    <div id="main-content">
        <div class="line" *ngIf="!isMobile" ></div>
        <div id="presentation" *ngIf="!isMobile" >
            <app-author-presentation [author$]="author$"></app-author-presentation>
        </div>
        <div class="line"></div>
        <div id="artworks">
            <app-author-artworks [author$]="author$"></app-author-artworks>
        </div>
        <div class="line"></div>
        <div id="shops">
            <app-author-shops [author$]="author$"></app-author-shops>
        </div>
        <div class="line"></div>
    </div>
</div>
  