<div class="">
    <div id="header" [ngStyle]="{'background-image': 'url(' + author.user.bannerUrl + ')'}">
        <div id="profile-picture-container">
            <img id="profile-picture" [src]="authorPicture" alt="profile picture">
            <div id="profile-picture-text">
                <h3>{{author.user.surname}}</h3>
            </div>
        </div>
        <div id="navigation-container">
            <p (click)="scrollToView('presentation')">Présentation</p>
            <p (click)="scrollToView('artworks')">Oeuvres</p>
            <p (click)="scrollToView('shops')">Boutiques</p>
        </div>
    </div>
    <div id="main-content">
        <div class="line"></div>
        <div id="presentation">
            <app-author-presentation [author$]="author$"></app-author-presentation>
        </div>
        <div class="line"></div>
        <div id="artworks">
            <app-author-artworks [author$]="author$"></app-author-artworks>
        </div>
        <div class="line"></div>
        <div id="shops">
            <app-author-shops [author$]="author$"></app-author-shops>
        </div>
        <div class="line"></div>
    </div>
</div>
  