<div id="container">
    <div class="upload-header">
        <h1>Publier un chapitre</h1>
    </div>
    <div id="content">
        <div id="left-side-content">
            <div class="side-bar-header">
                <h3>{{chapter.title}}</h3>
                <img [src]="chapter.coverUrl" alt="artwork Cover" class="cover-preview">
            </div>
        </div>
        <div id="right-side-content">
            <h3>Informations du chapitre</h3>
            <div>
                <div>
                    <p>Chapitre numéro {{chapter.index}}</p>
                </div>
                <div id="title-selection">
                    <p>Titre du chapitre :</p>
                    <input type="text" class="text-input" [(ngModel)]="chapter.title" (change)="onEditTitle()" >
                </div>
            </div>
            <h3>Couverture du chapitre :</h3>
            <div id="chapter-cover">
                <div 
                    class="drop-zone"
                    (dragover)="onDragOverChapterCover($event)"
                    (drop)="onDropChapterCover($event)"
                    (click)="triggerFileInputChapterCover()"
                >   
                    <img [src]="chapterCoverToShow" class="image-chapter">
                    <i 
                        class="fa-solid fa-xmark fa-2x" 
                        (click)="onLeaveChapterCoverEdit($event)"
                        *ngIf="isEditingCover"></i>
                </div>
                <input
                    #chapterCoverInput
                    type="file"
                    style="display:none;"
                    (change)="onFileSelectedChapterCover($event)"
                >
                <p *ngIf="isEditingCover"></p>
            </div>
            <h3>Pages du chapitre</h3>
            <button *ngIf="!isPagesEdited" (click)="onOpenModal()" class="validate-button">Modifier les pages du chapitre</button>
            <div id="newPages" *ngIf="isPagesEdited">
                <app-upload-pages #pagesInput></app-upload-pages>
            </div>
            <div id="publish-informations">
                <p>Si tu as besoin d'informations, consulte notre page: <a routerLink="/tuto-upload" class="weebz-link">Comment créer une oeuvre ?</a></p>
            </div>
            <div id="validate-button-container">
                <span class="validate-button" (click)="onSubmit()">Valider</span>
            </div>
        </div>
    </div>
</div>
<div id="modal" *ngIf="isModalOpen">
    <div id="modal-content">
        <p>{{modaleText}}</p>
        <button class="validate-button modal-button" (click)="onCloseModal()">Non</button>
        <button class="validate-button modal-button" (click)="onDeletePages()">Ok</button>
    </div>
</div>